/*

r0LLQ1  QOQQ0O;                                /0000~  +LLLQ1  `vQLLL_ "00QQ00                                 u000QI  }QLLQ?
 ?Q0`   IXLCL~ [XQQQX]                  ?fxf?   xLQ}     QQi     \LQ    >CLLUi |UQQLc<                  }jxf~  ^zLQ+    :Q0`
  0c      QQl  )QLCLL- l>l`             }QLQ}    0z      uQ      "0/     "Q0   fQLCQCi !>l              (0LL_   ,0f      LX
  U(      rL     zLu zOQQQOQ      /LLL}  iO<     Y1      (X       Q?      Uc     LQ/ QOQQQOY      nLLC~  [O"     0_      nt
  v]      {v     ;Z" ijQLQr]-(\(?. t0{    Z      v?      }x       Ql      j\     _O  _n0CQ/-?|\(- ^nQ-   ,Q      CI      /)
  x?      [r      Q     0`.Z0QQQ0m  0     Z      n-      [x       L;      \1     ,L    ^O iZ0QQQ0O !J    ^Q      JI      \1
  u?      [x      0    [Q( ,}/f/]?tQLQ/I ^Z,     z[      {n       LI      /1     :Q    |0] I1tf\?]xQLL(, <O      Q>      t(
  X1      )X     >Ol  1QQQf      0OQQQOC uQv     Lf      |U       Q+      nf     }O   fQQQ{     ,O0QQQOx YQ/     0}      uj
  0x      zQ    ?QLQ-             ,>~>.+CLCLL}  I0Q      cQ      .0)      LJ    10LC>             ;<~i [LLCQU+  -QU      QJ
 !QQ     ]QLt   }xvx[                  {J000J) iLCLv,   `QQ+     ]QJ     |QQ1   |nvx+                  \C00QU- _QCQj`   iQ0:
}QLLJ>  _O00Ot                                IZ0QQOQ  ]LLLQ\   |QLQz;  )O00O[                                _Z0QQOY  (QLLQ1
]rvufi                                          "I;.   -xzXu)   {xvut;                                          ,I;    {nXXn}

                                                OPENBIO DEVELOPER, LEEWOOJIN
                                                DEPT OF COMPUTER ENGINEERING
                                                      DAEJIN UNIVERSITY
                                                      
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* COMMON STYLE */
* { box-sizing: border-box; }
html body { margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; }
p { margin: 0; }
a { text-decoration-line: none; outline: none; color: #000; }

/* TOP MENU STYLE */
.openbio-menu { position: fixed; z-index: 9; left: 0; top: 0; width: 100%; height: 124px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); background-color: #fff; }

.openbio-menu .menu-top { position: relative; display: flex; flex-direction: row; align-items: center; margin: 0 auto; width: 97%; height: 64px; }
.openbio-menu .menu-top > svg { flex: none; width: 32px; height: auto; }

.openbio-menu .menu-top .logo { margin: 0px 10px 0px 10px; padding-top: 4px; min-width: 130px; }
.openbio-menu .menu-top .logo > p { line-height: 1.2rem; }
.openbio-menu .menu-top .logo > p.title { font-weight: 900; }
.openbio-menu .menu-top .logo > p.desc { font-size: .85rem; font-weight: 200; }

.openbio-menu .menu-top form { position: relative; min-width: 500px; max-width: 700px; height: 40px; border-radius: 24px; font-size: 14px; border: 1px solid #c9c9c9; }
.openbio-menu .menu-top form button { border: none; background: transparent; cursor: pointer; }
.openbio-menu .menu-top form button:focus { outline: none; }
.openbio-menu .menu-top form input[class="tmenu-search"] { position: absolute; left: 46px; top: 8px; width: 100%; padding-right: 15px; border: none; background-color: transparent; font-family: 'Noto Sans KR', sans-serif; }
.openbio-menu .menu-top form input[class="tmenu-search"]:focus { width: 100%; padding-right: 15px; outline: none; background-color: transparent; font-family: 'Noto Sans KR', sans-serif; }
.openbio-menu .menu-top form button > svg { margin: 8px 5px 5px 10px; fill: #c9c9c9; width: 20px; height: auto; float: left; }

.openbio-menu .menu-top .sub-top-menu { position: absolute; right: 0; }
.openbio-menu .menu-top .sub-top-menu .btn { color: #000; font-family: 'Noto Sans KR', sans-serif; font-size: .9rem; transition: .25s; margin-left: 10px; margin-right: 10px; }
.openbio-menu .menu-top .sub-top-menu .btn-box { background-color: #646464; border-radius: 6px; padding: 8px; color: #fff; font-family: 'Noto Sans KR', sans-serif; font-size: .9rem; transition: .25s; }

.openbio-menu .menu-bottom { display: flex; flex-direction: row; align-items: center; width: 97%; height: 54px; }
.openbio-menu .menu-bottom ul { margin: 0 !important; padding: 0 !important; }
.openbio-menu .menu-bottom ul li { float: left; padding-top: 20px; padding-bottom: 20px; margin-left: 20px; list-style-type: none; font-size: .9rem; color: #979797; }
.openbio-menu .menu-bottom ul .current { border-bottom: 2px solid #000; color: #000; }

/* OPENBIO HOMEPAGE WRAPPER */
.openbio-wrapper { margin: 0 auto; margin-top: 124px; text-align: center; width: 100%; height: 100%; }

